@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

.jumbotron {
  padding-top: 2rem;
  background-color: #fcd0e4;
}
#produk {
  background-color: #fcd0e4;
}
.ffs {
  font-family: "Cookie", cursive;
}
